*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, rgba(2,0,36,0.5735735735735736) 0%, rgba(95,95,101,0.6591591591591592) 44%, rgba(0,212,255,1) 100%);
    background-image: url('./desktop-birthday.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    align-items: center;
    margin: 0;
}

h1{
    font-weight: normal;
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
    background-color: rgba(220,220,22,0.9);
    padding: 12px;
    border-radius: 20px;
    border: 2px solid black;
color: white;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el{
    text-align: center;
    background-color: rgba(22,22,220,0.8);
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    margin: 10px;
    padding: 5px;
}

.countdown-el span{
    font-size: 1.5rem;
}